# .env.api  (prod)
Anthropic__ApiKey=
ApiKey=
MongoDB__ConnectionString=
MongoDB__DatabaseName=
MongoDB__ProfileDatabase=

# .env.scraper (prod)
MONGODB_CONNECTION_STRING=
MONGODB_DATABASE_NAME=
MongoDB__ProfileDatabase=
OPENAI_API_KEY=

# .env.client (prod)
API_URL=http://api:8080
SCRAPER_URL=http://scraper:8080

# .env.demo-api
Anthropic__ApiKey=
CorsOrigins=https://nextrole.cloud
DemoMode=true
MongoDB__ConnectionString=
MongoDB__DatabaseName=
MongoDB__ProfileDatabase=

# .env.demo-scraper
DEMO_MODE=true
MONGODB_CONNECTION_STRING=
MONGODB_DATABASE_NAME=
MongoDB__ProfileDatabase=
OPENAI_API_KEY=

# .env.demo-client
API_URL=http://demo-api:8080
SCRAPER_URL=http://demo-scraper:8080

# .env.mailbot
Anthropic__ApiKey=
